 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 10%;
    
  }
  
  li {
    
    padding: 1%;
   
  }
  
  li a {
    display: block;
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
  }
  
  li a:hover {
    background-color:rgb(230, 230, 230);
    text-decoration: none;
  } 


  
  #logoslika{
    width: 20%;
    height: 20%;
    margin-left: 10%;
  }

  .topnav{
    display: none;
  }

  @media only screen and (max-width: 600px) {

    .naslovna{
      display: none;
    }
  
    .topnav {
      overflow: hidden;
      background-color: white;
      position: relative;
      display: block;
    }
  
    /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: green;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin: 0 auto;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: white;
    color: white;
  }
  
  }

  .lijevi{
    background-image: url("slike/geometric-leaves.png");
    font-family: granville;
    
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



button{
    width: 250px;
    height: 70px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 30%;
    margin-top: 10%;
}

.check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg{
    width: 40px;
    margin: 20px;
}

svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: darkgreen;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 125px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}
  #fname:hover{
    transition: 1s;
    border: 2px solid darkgreen;
  }

  #prezime:hover{
    transition: 1s;
    border: 2px solid darkgreen;
  }

  #tel:hover{
    transition: 1s;
    border: 2px solid darkgreen;
  }

  #email:hover{
    transition: 1s;
    border: 2px solid darkgreen;
  }

  #poruka:hover{
    transition: 1s;
    border: 2px solid darkgreen;
  }

  .desni1{
    margin-top: 20%;
    margin-left: 25%;
    font-weight: bold;
    font-size: 23px;
  }

  .desni2{
    font-size: 15px;
    margin-left:28%;
  }

  .desni3{
    font-size: 15px;
    margin-left:15%;
  }

  .slikaNacrtana{
    width:70%;
    margin-top: 35%;
    max-width: 400px;
    

  }

  .adresa1{
    margin-top: 40%;
    margin-left: 25%;
    font-size: 18px;
    font-weight: bold;
  }

  .adresa2{
    font-size: 20px;
    margin-left: 25%;
  }

  .adresa3{
    font-size: 18px;
    margin-left: 25%;
    font-weight: bold;
  }

  .linkBoja{
    color: #3366cc;
  }
  .linkBoja:visited{
    color: purple;
  }

  .linkBoja:active{
    color: red;
  }

  hr{
    size:5px;
    height:2px;
    color: black;
  }

  .footer {
  
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }
  
  .site-footer
  {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:17px;
    margin-left:4px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:hotpink;
  }
  
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }
  
  .footerklasa{
    margin-left: 20%;
  }
  
  .naslovFooter{
    margin-left: 20%;
  }
  
 body p{
  font-family:granville ;
 }
  
  #konatktirajte{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
    font-weight: bold;
  }
  